body {
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    margin-top: 50px;
}

.game-frame {
    position: relative;
    width: 900px;
    height: 600px;
    border: 4px solid white;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
}

.player {
    position: absolute;
    top: 50%; /* Initially center vertically */
    left: 50%; /* Initially center horizontally */
    transform: translate(-50%, -50%); /* Center the player element */
    width: 10px;
    height: 10px;
    background-color: white;
}

.food{
    position:absolute;
    width:10px;
    height:10px;
    background-color:red;
}